<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.listeners.CounterListener</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener, HttpSessionListener</description>
        <listener-class>com.listeners.OnLineListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>com.servlets.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>com.servlets.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChargingCardController</servlet-name>
        <servlet-class>com.servlets.admin.ChargingCardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryControllrer</servlet-name>
        <servlet-class>com.servlets.admin.CategoryControllrer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavoriteCategories</servlet-name>
        <servlet-class>com.servlets.AddFavoriteCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerData</servlet-name>
        <servlet-class>com.servlets.UpdateCustomerData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookEditController</servlet-name>
        <servlet-class>com.servlets.admin.BookEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookFromCat</servlet-name>
        <servlet-class>com.servlets.admin.DeleteBookFromCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookToCat</servlet-name>
        <servlet-class>com.servlets.admin.AddBookToCat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/AddCategory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuthorControllrer</servlet-name>
        <servlet-class>com.servlets.admin.AuthorControllrer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthorControllrer</servlet-name>
        <url-pattern>/AuthorControllrer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowBookDetails1</servlet-name>
        <servlet-class>com.servlets.ShowBookDetails1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowBookDetails1</servlet-name>
        <url-pattern>/ShowBookDetails1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChargingCardController</servlet-name>
        <url-pattern>/ChargingCardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryControllrer</servlet-name>
        <url-pattern>/CategoryControllrer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavoriteCategories</servlet-name>
        <url-pattern>/FavoriteCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerData</servlet-name>
        <url-pattern>/UpdateCustomerData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookEditController</servlet-name>
        <url-pattern>/BookEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookFromCat</servlet-name>
        <url-pattern>/DeleteBookFromCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookToCat</servlet-name>
        <url-pattern>/AddBookToCat</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>adminPrivacy</display-name>
        <web-resource-collection>
            <web-resource-name>admin pages</web-resource-name>
            <description/>
            <url-pattern>/adminPanel/secured/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>adminShop</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>adminSecure</realm-name>
        <form-login-config>
            <form-login-page>/adminPanel/secured/sign-in.jsp</form-login-page>
            <form-error-page>/adminPanel/secured/access_Denied.html</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>adminShop</role-name>
    </security-role>
    <error-page>
        <error-code>404</error-code>
        <location>/index.html</location>
    </error-page>
</web-app>
